:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --bcg-pr-color: #FFFFFF;
    --bcg-sc-color: #2F303A;
    --footer-cont-color: rgba(255, 255, 255, 0.6);
    --white-color: #FFFFFF;
    --black-color: #000000;
    --btn-bcg-color: #F5F4FA;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* Button */

.btn {
    /* background-color: var(--accent-color);
    color: var(--white-color); */
    border: none;
}
.btn-primary {
    background-color: var(--accent-color);
    color: var(--white-color);
}
.btn-secondary {
    background-color: var(--btn-bcg-color);
    color: var(--secondary-color);
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

/* Body */

body {
    font-family: Roboto, Raleway, sans-serif;
    background-color: var(--bcg-pr-color);
    color: var(--primary-color);
}

.section-title {
    color: var(--secondary-color);
}

/* logo */
.logo {
    color: var(--black-color);
}
.logo-web{
    color: var(--accent-color);
}

/* nav-bar */

.nav-link {
    color: var(--secondary-color);
}
.nav-link:hover,
.nav-link:focus {
    color:var(--accent-color);
}
.nav-link  .current {
    color: var(--accent-color);
}
/* header contacts */

.header-contact-link {
    color: var(--primary-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color);
}

/* section decision */

.decision-title {
    color: var(--white-color);
    background-color: var(--bcg-sc-color);
}
.decision-btn{
    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;
}


/* section specifics */

.specifics-wrapper .title {
    color: var(--secondary-color);
}

.specifics-wrapper .descr {
    color: var(--primary-color);
}

/* section team */

.team-wrapper .name {
    color: var(--secondary-color);
}
.team-wrapper .post {
    color: var(--primary-color);
}

/* footer */

.page-footer {
    background-color: var(--bcg-sc-color);
}
.page-footer .logo {
    color: var(--white-color);
}

.address {
    color: var(--white-color);
}

.footer-contact-link
 {
    color: var(--footer-cont-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus
 {
    color: var(--accent-color);
}

/* Portfolio */
/* example */


.examples-wrapper .prjct{
    color: var(--secondary-color);
}
.examples-wrapper .spcfn{
    color: var(--primary-color);
}